@model AspNetCoreChatapp.ViewModels.ChatViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    var CurrentUser = await UserManager.GetUserAsync(User);
    var OtherUserID = CurrentUser.Id == Model.User1ID ? Model.User2ID : Model.User1ID ;
}
<link rel="stylesheet" href="~/css/chat.css" />

@if(CurrentUser.Id == Model.User1ID){

    <h1>You Chat with @Model.Username2</h1>
    }else{
        <h1>You Chat with @Model.Username1</h1>
}


<div class="chat">
    <div class="messages">

        @foreach (var item in Model.Messages)
        {
            if(item.UserID == CurrentUser.Id){
                <div class="message me">
                    <p>@item.Text
                        <br>
                        <sub><em>@item.CreateAt</em></sub>
                    </p>
                </div>
            }else{
                <div class="message y">
                    <p>@item.Text
                    <br>
                    <sub><em>@item.CreateAt</em></sub>
                    </p>
                </div>
            }
        }

    </div>
    <div class="chat-input">
        <form   class="form" id="form">
            <textarea name="Text" required></textarea>
            <input type="hidden" name="UserID" value="@CurrentUser.Id">
            <input type="hidden" name="OtherUserID" value="@OtherUserID">
            <input type="hidden" name="ChatID" value="@Model.ID">
            <input type="submit" id="submit">
        </form>
    </div>
</div>


  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/chat.js"></script>
